<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Not AirBnB</title>
    <style>
        .rightSideNav{
            right: 0px;
            padding: 15px;
            font-size: 1em;
            position: absolute;
            top: 0px;
        }

        .leftSideNav{
            left: 0px;
            font-size: 1.5em;
            position: absolute;
            top: 0px;
            margin: 15px;
        }

        .topButtons{
            border: none; 
            background-color: white;
            font-size: 1.5em;
        }

        .topButtons:hover{
            background-color: lightgray;
            cursor: pointer;
        }

        .results{
            border-color: black;
            border-radius: .5em;
            width: 70vw;
            padding: 5px;
            border-style: solid;
            height: 70vh;
            margin: 100px auto auto auto; 
        }

        .resultImages{
            border-radius: 8px;
            width: 50vh;
            height: 50vh;
            position: relative;
            float: right;
            right: 1px;
            top: 1px;
        }

    </style>
</head>
<body>
    <div>
        <p class="topButtons leftSideNav" onclick="get('/')">
            Not AirBnB
        </p>
        <div class="rightSideNav">
            <button class="topButtons" onclick="get('/search')">Browse All</button> |
            <button class="topButtons" onclick="get('/rentOutPlace')">Rent out a Space</button>
        </div>
    </div>

    <div>
        <div class="results">
            <image class="resultImages" src=<%- image %>></image>
            <p>Address: <%- address %></p>
            <p>Cost: <%- cost %>/night</p>
            <p><%- bedBath %></p>
            <p>Owner: <%- owner %></p>
        </div>
        
	</div>

    <script>

            function get(path, method='get') {
                const form = document.createElement('form');
                form.method = method;
                form.action = path;

                document.body.appendChild(form);
                form.submit();
            }
            
            function loadFakeData() {
                const form = document.createElement('form');
                form.method = 'post';
                form.action = 'loadFakeData';
                document.body.appendChild(form);
                
                form.submit();
                document.getElementById('loadedSuccess').style.display = 'block';
            }

</script>
	
</body>