<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<title>Not AirBnB</title>
    <style>
        .fixedWidth{
            width: 25vw;
        }

        .navigationBar{
            border-color: black;
            border-bottom: solid;
            border-width: 1px;
            height: 60px;
        }

        .rightSideNav{
            right: 0px;
            padding: 15px;
            font-size: 1em;
            position: absolute;
            top: 0px;
        }

        .bottomMargin{
            margin-bottom: 2px;
            height: 25px;
        }

        .floatLeft{
            display: grid;
            justify-content: start;
            float: left;
            margin-right: 10px;
        }

        .floatRight{
            display: grid;
            justify-content: end;
            float: right;
        }
        .rightSideNav{
            right: 0px;
            padding: 15px;
            font-size: 1em;
            position: absolute;
            top: 0px;
        }

        .leftSideNav{
            left: 0px;
            font-size: 1.5em;
            position: absolute;
            top: 0px;
            margin: 15px;
        }

        .topButtons{
            border: none; 
            background-color: white;
            font-size: 1.5em;
        }

        .topButtons:hover{
            background-color: lightgray;
            cursor: pointer;
        }

        .results{
            border-color: black;
            border-radius: .5em;
            width: 70vw;
            padding: 5px;
            border-style: solid;
            height: 70vh;
            margin: 100px auto auto auto; 
        }

        .resultImages{
            border-radius: 8px;
            width: 50vh;
            height: 50vh;
            position: relative;
            float: right;
            right: 1px;
            top: 1px;
        }

        .rentButton {
            background-color: #4CAF50;
            border-radius: 8px;
            margin-top: 8px;
            border: none;
            color: white;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white; 
            color: black; 
            border: 2px solid #4CAF50;
        }

        .rentedButton {
            border-radius: 8px;
            margin-top: 8px;
            border: none;
            color: black;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            background-color: lightgreen; 
            color: black; 
            border: 2px solid #4CAF50;
        }

        .rentButton:hover {
            background-color: #4CAF50;
            color: white;
        }

    </style>
</head>
<body>
    <div class="navigationBar">
        <p class="topButtons leftSideNav" onclick="get('/')">
            Not AirBnB
        </p>
        <div class="rightSideNav">
            <button class="topButtons" onclick="get('/search')">Browse All</button> |
            <button class="topButtons" onclick="get('/manageProperty')">Manage Property</button>
        </div>
    </div>

    <div>
        <div class="results">
            <image class="resultImages" src=<%- image %>></image>
            <p>Address: <%- address %></p>
            <p>Cost: <%- cost %>/night</p>
            <p><%- bedBath %></p>
            <p>Owner: <%- owner %></p>
            <p>This property is <%- availablility %></p>

            <%- button %>
            
        </div>
        
	</div>

    <script>

            function get(path, method='get') {
                const form = document.createElement('form');
                form.method = method;
                form.action = path;

                document.body.appendChild(form);
                form.submit();
            }

</script>
	
</body>